octave-workspace

# Recording files
*.mda
*.bin
*.json
*.irc
*.csv

# Matlab output files
*.asv
*.mat

# Compiled matlab code
matlab/run_irc.exe

# User configuration files
user.cfg
user.prm
